


UPDATE recipes SET image_url = '/images/chicken-sandwich.jpg' WHERE title = 'Chicken Sandwich';
UPDATE recipes SET image_url = '/images/apple-smoothie.jpg' WHERE title = 'Apple Smoothie';
UPDATE recipes SET image_url = '/images/chicken-parmesan.jpg' WHERE title = 'Chicken Parmesan';
